body {
  overflow-x: hidden;
  background: #487561;
  font-family: "Barlow Semi Condensed", sans-serif;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 4rem;
  flex-basis: 100%;
  text-align: center;
  color: white;
  margin: 0;
}

.by-me {
  font-family: Yomogi, sans-serif;
  color: white;
  font-size: 1rem;
  margin: 0;
}

.track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(0%);
  user-select: none;
}

.art-title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 800;
  font-size: 1.25rem;
}

.sub-title {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.image {
  width: 45vmin;
  height: 60vh;
  border-radius: 150px;
  filter: brightness(80%);
  transition: filter 1s ease-out;
  background-position: center;
}

.image:nth-child(1) {
  background-image: url("/images/cube.gif");
  background-size: cover;
}

.image:nth-child(2) {
  background-image: url("/images/webpack.gif");
  background-size: contain;
  color: white;
}

.image:nth-child(3) {
  background-image: url("/images/pyramid.gif");
  background-size: contain;
}

.image:nth-child(4) {
  background-image: url("/images/airplane.gif");
  background-size: 100% 100%;
}

.image:nth-child(5) {
  background-image: url("/images/fries.gif");
  background-size: cover;
}

.image:nth-child(6) {
  background-image: url("/images/compass.gif");
  background-size: cover;
  color: white;
}

.image:nth-child(7) {
  background-image: url("/images/sandwich.gif");
  background-size: cover;
}

.image:hover {
  filter: brightness(105%);
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }

  .track:hover {
    cursor: grab;
  }

  .track:active {
    cursor: grabbing;
  }
}

@media only screen and (min-width: 768px) {
  .image {
    width: 30vmin;
  }

  .by-me {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .header-text {
    font-size: 8rem;
  }
}
