html {
  overflow: hidden;
}

.tim {
  font-family: "Permanent Marker", sans-serif;
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 15%;
}

.scene {
  margin: 50vh auto;
  width: 200px;
  height: 260px;
  perspective: 600px;
  transform: translateY(-30%);
  animation: bounce 0.75s ease-in-out infinite;
}

.back {
  position: absolute;
  top: 0.5rem;
  width: 90%;
  height: 15vh;
  border-radius: 150px 150px 0 0;
  background:
    repeating-linear-gradient(
      to right,
      #fffcd5 0%,
      #fffcd5 4%,
      #fff454 4%,
      #fff454 5.5%,
      #fffcd5 5.5%
    );
}

.fry {
  z-index: 1;
  position: absolute;
  background-color: #f7c41f;
  width: 0.6rem;
  height: 17.5vh;
  transition: transform 0.5s linear;
}

.fry:nth-child(1) {
  transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  animation: fry1 0.75s ease-in-out infinite;
}

.fry:nth-child(2) {
  transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  animation: fry2 0.75s ease-in-out infinite;
}

.fry:nth-child(3) {
  transform: translateY(20%) translateX(2.75rem) rotateZ(-1deg);
  animation: fry3 0.75s ease-in-out infinite;
}

.fry:nth-child(4) {
  transform: translateY(7.5%) translateX(4rem) rotateZ(-3deg);
  animation: fry4 0.75s ease-in-out infinite;
}

.fry:nth-child(5) {
  transform: translateY(5%) translateX(5.25rem) rotateZ(1deg);
  animation: fry5 0.75s ease-in-out infinite;
}

.fry:nth-child(6) {
  transform: translateY(7.5%) translateX(6.5rem) rotateZ(2.75deg);
  animation: fry6 0.75s ease-in-out infinite;
}

.fry:nth-child(7) {
  transform: translateY(20%) translateX(7.75rem) rotateZ(2deg);
  animation: fry7 0.75s ease-in-out infinite;
}

.fry:nth-child(8) {
  transform: translateY(30%) translateX(8.75rem) rotateZ(2.5deg);
  animation: fry8 0.75s ease-in-out infinite;
}

.fry:nth-child(9) {
  transform: translateY(35%) translateX(9.75rem) rotateZ(5deg);
  animation: fry9 0.75s ease-in-out infinite;
}

.front {
  z-index: 2;
  position: absolute;
  left: -0.5rem;
  bottom: 2rem;
}

.shadow {
  position: absolute;
  z-index: -1;
  width: 12.5%;
  height: 10vh;
  border-radius: 50%;
  background: rgb(202 202 202);
  bottom: 0;
  left: 43%;
  transform: translateY(-125%) rotateX(75deg);
  animation: grow-shadow 0.75s linear infinite;
}

.logo {
  position: absolute;
  z-index: 3;
  width: 30%;
  top: 50%;
  left: 32%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  35% {
    transform: translateY(-30%);
  }

  45% {
    transform: translateY(-35%);
  }

  55% {
    transform: translateY(-30%);
  }

  95% {
    transform: translateY(5%) scaleY(0.85);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes yeet {
  0% {
    transform: translateY(-30%);
  }

  50% {
    transform: translateY(-70%);
  }

  80% {
    transform: translateY(-75%) rotateZ(180deg);
  }

  100% {
    transform: translateY(-80%) rotateZ(180deg);
  }
}

@keyframes grow-shadow {
  0% {
    transform: translateY(-125%) rotateX(75deg) scale(1);
    background: rgb(202 202 202);
  }

  35% {
    transform: translateY(-125%) rotateX(75deg) scale(0.8);
    background: rgb(210 210 210);
  }

  45% {
    transform: translateY(-125%) rotateX(75deg) scale(0.75);
    background: rgb(210 210 210);
  }

  55% {
    transform: translateY(-125%) rotateX(75deg) scale(0.8);
    background: rgb(210 210 210);
  }

  90% {
    transform: translateY(-125%) rotateX(75deg) scale(1);
    background: rgb(202 202 202);
  }

  100% {
    transform: translateY(-125%) rotateX(75deg) scale(1);
    background: rgb(202 202 202);
  }
}

@keyframes yeet-shadow {
  0% {
    transform: translateY(-125%) rotateX(75deg) scale(0.8);
    background: rgb(210 210 210);
  }

  80% {
    transform: translateY(-125%) rotateX(75deg) scale(0.55);
    background: rgb(210 210 210);
  }

  100% {
    transform: translateY(-80%) rotateX(75deg) scale(1.5);
    background: rgb(182 182 182);
  }
}

@keyframes fry1 {
  0% {
    transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  }

  45% {
    transform: translateY(-90%) translateX(1.25rem) rotateZ(-3deg);
  }

  65% {
    transform: translateY(-100%) translateX(1.25rem) rotateZ(-3deg);
  }

  85% {
    transform: translateY(-90%) translateX(1.25rem) rotateZ(-3deg);
  }

  95% {
    transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  }
}

@keyframes fry2 {
  0% {
    transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  }

  35% {
    transform: translateY(-60%) translateX(2.25rem) rotateZ(-5deg);
  }

  60% {
    transform: translateY(-80%) translateX(2.25rem) rotateZ(-5deg);
  }

  80% {
    transform: translateY(-60%) translateX(2.25rem) rotateZ(-5deg);
  }

  95% {
    transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  }
}

@keyframes fry3 {
  0% {
    transform: translateY(20%) translateX(2.75rem) rotateZ(-1deg);
  }

  35% {
    transform: translateY(-60%) translateX(3.25rem) rotateZ(-3deg);
  }

  65% {
    transform: translateY(-75%) translateX(3.25rem) rotateZ(-3deg);
  }

  75% {
    transform: translateY(-60%) translateX(3.25rem) rotateZ(-3deg);
  }

  95% {
    transform: translateY(20%) translateX(2.75rem) rotateZ(-1deg);
  }
}

@keyframes fry4 {
  0% {
    transform: translateY(7.5%) translateX(4rem) rotateZ(-3deg);
  }

  35% {
    transform: translateY(-95%) translateX(4.5rem) rotateZ(-3deg);
  }

  45% {
    transform: translateY(-105%) translateX(4.5rem) rotateZ(-3deg);
  }

  55% {
    transform: translateY(-95%) translateX(4.5rem) rotateZ(-3deg);
  }

  95% {
    transform: translateY(7.5%) translateX(4rem) rotateZ(-3deg);
  }
}

@keyframes fry5 {
  0% {
    transform: translateY(5%) translateX(5.25rem) rotateZ(1deg);
  }

  25% {
    transform: translateY(-110%) translateX(6rem) rotateZ(2deg);
  }

  45% {
    transform: translateY(-130%) translateX(6rem) rotateZ(2deg);
  }

  65% {
    transform: translateY(-120%) translateX(6rem) rotateZ(2deg);
  }

  95% {
    transform: translateY(5%) translateX(5.25rem) rotateZ(1deg);
  }
}

@keyframes fry6 {
  0% {
    transform: translateY(7.5%) translateX(6.5rem) rotateZ(2.75deg);
  }

  35% {
    transform: translateY(-92.5%) translateX(7.25rem) rotateZ(3deg);
  }

  50% {
    transform: translateY(-102.5%) translateX(7.25rem) rotateZ(3deg);
  }

  65% {
    transform: translateY(-92.5%) translateX(7.25rem) rotateZ(3deg);
  }

  95% {
    transform: translateY(7.5%) translateX(6.5rem) rotateZ(2.75deg);
  }
}

@keyframes fry7 {
  0% {
    transform: translateY(20%) translateX(7.75rem) rotateZ(2deg);
  }

  35% {
    transform: translateY(-60%) translateX(8.25rem) rotateZ(5deg);
  }

  45% {
    transform: translateY(-75%) translateX(8.25rem) rotateZ(5deg);
  }

  55% {
    transform: translateY(-60%) translateX(8.25rem) rotateZ(5deg);
  }

  95% {
    transform: translateY(20%) translateX(7.75rem) rotateZ(2deg);
  }
}

@keyframes fry8 {
  0% {
    transform: translateY(30%) translateX(8.75rem) rotateZ(2.5deg);
  }

  35% {
    transform: translateY(-95%) translateX(9.25rem) rotateZ(5deg);
  }

  50% {
    transform: translateY(-105%) translateX(9.25rem) rotateZ(5deg);
  }

  65% {
    transform: translateY(-95%) translateX(9.25rem) rotateZ(5deg);
  }

  95% {
    transform: translateY(30%) translateX(8.75rem) rotateZ(2.5deg);
  }
}

@keyframes fry9 {
  0% {
    transform: translateY(35%) translateX(9.75rem) rotateZ(5deg);
  }

  35% {
    transform: translateY(-45%) translateX(10rem) rotateZ(4deg);
  }

  45% {
    transform: translateY(-55%) translateX(10rem) rotateZ(4deg);
  }

  55% {
    transform: translateY(-45%) translateX(10rem) rotateZ(4deg);
  }

  95% {
    transform: translateY(35%) translateX(9.75rem) rotateZ(5deg);
  }
}

@keyframes fall1 {
  0% {
    transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  }

  75% {
    transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  }

  80% {
    transform: translateY(-200%) translateX(1.5rem);
  }

  100% {
    transform: translateY(-210%) translateX(2rem) rotateZ(90deg);
  }
}

@keyframes fall2 {
  0% {
    transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  }

  75% {
    transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  }

  80% {
    transform: translateY(-180%) translateX(2.25rem) rotateZ(-82deg);
  }

  90% {
    transform: translateY(-190%) translateX(3rem) rotateZ(-90deg);
  }

  100% {
    transform: translateY(-190%) translateX(4rem) rotateZ(-87deg);
  }
}

@keyframes fall3 {
  0% {
    transform: translateY(20%) translateX(2.75rem) rotateZ(-1deg);
  }

  70% {
    transform: translateY(15%) translateX(2.75rem) rotateZ(-1deg);
  }

  75% {
    transform: translateY(-210%) translateX(3.25rem) rotateZ(-46deg);
  }

  100% {
    transform: translateY(-212%) translateX(3.75rem) rotateZ(-58deg);
  }
}

@keyframes fall4 {
  0% {
    transform: translateY(7.5%) translateX(4rem) rotateZ(-3deg);
  }

  85% {
    transform: translateY(0%) translateX(4rem) rotateZ(-3deg);
  }

  90% {
    transform: translateY(-190%) translateX(4.5rem) rotateZ(-87deg);
  }

  100% {
    transform: translateY(-190%) translateX(4rem) rotateZ(-68deg);
  }
}

@keyframes fall5 {
  0% {
    transform: translateY(5%) translateX(5.25rem) rotateZ(1deg);
  }

  55% {
    transform: translateY(-5%) translateX(5.25rem) rotateZ(1deg);
  }

  85% {
    transform: translateY(-200%) translateX(6rem) rotateZ(87deg);
  }

  100% {
    transform: translateY(-205%) translateX(5.25rem) rotateZ(110deg);
  }
}

@keyframes fall6 {
  0% {
    transform: translateY(7.5%) translateX(6.5rem) rotateZ(2.75deg);
  }

  65% {
    transform: translateY(2.5%) translateX(6.5rem) rotateZ(2.75deg);
  }

  85% {
    transform: translateY(-192.5%) translateX(7.25rem) rotateZ(46deg);
  }

  100% {
    transform: translateY(-200%) translateX(6.5rem) rotateZ(57deg);
  }
}

@keyframes fall7 {
  0% {
    transform: translateY(20%) translateX(7.75rem) rotateZ(2deg);
  }

  75% {
    transform: translateY(10%) translateX(7.75rem) rotateZ(2deg);
  }

  85% {
    transform: translateY(-180%) translateX(7.75rem) rotateZ(57deg);
  }

  100% {
    transform: translateY(-190%) translateX(7.75rem) rotateZ(52deg);
  }
}

@keyframes fall8 {
  0% {
    transform: translateY(30%) translateX(8.75rem) rotateZ(2.5deg);
  }

  85% {
    transform: translateY(10%) translateX(8.75rem) rotateZ(2.5deg);
  }

  90% {
    transform: translateY(-195%) translateX(9.25rem) rotateZ(-52deg);
  }

  100% {
    transform: translateY(-205%) translateX(8.75rem) rotateZ(-73deg);
  }
}

@keyframes fall9 {
  0% {
    transform: translateY(35%) translateX(9.75rem) rotateZ(5deg);
  }

  65% {
    transform: translateY(25%) translateX(9.75rem) rotateZ(5deg);
  }

  90% {
    transform: translateY(-185%) translateX(10rem) rotateZ(-83deg);
  }

  100% {
    transform: translateY(-205%) translateX(11.75rem) rotateZ(-134deg);
  }
}

/* Tim fall */

/* @keyframes fall1 {
  0% {
    transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  }

  75% {
    transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
  }

  80% {
    transform: translateY(-200%) translateX(1.5rem);
  }

  100% {
    transform: translateY(-240%) translateX(9rem) rotateZ(78deg);
  }
}

@keyframes fall2 {
  0% {
    transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  }

  75% {
    transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
  }

  80% {
    transform: translateY(-180%) translateX(2.25rem) rotateZ(-82deg);
  }

  90% {
    transform: translateY(-190%) translateX(3rem) rotateZ(-90deg);
  }

  100% {
    transform: translateY(-143%) translateX(9rem) rotateZ(-87deg);
  }
}

@keyframes fall3 {
  0% {
    transform: translateY(20%) translateX(2.75rem) rotateZ(-1deg);
  }

  70% {
    transform: translateY(15%) translateX(2.75rem) rotateZ(-1deg);
  }

  75% {
    transform: translateY(-210%) translateX(3.25rem) rotateZ(-46deg);
  }

  100% {
    transform: translateY(-190%) translateX(1.25rem) rotateZ(-45deg);
  }
}

@keyframes fall4 {
  0% {
    transform: translateY(7.5%) translateX(4rem) rotateZ(-3deg);
  }

  85% {
    transform: translateY(0%) translateX(4rem) rotateZ(-3deg);
  }

  90% {
    transform: translateY(-190%) translateX(4.5rem) rotateZ(-87deg);
  }

  100% {
    transform: translateY(-190%) translateX(-1rem) rotateZ(-135deg);
  }
}

@keyframes fall5 {
  0% {
    transform: translateY(5%) translateX(5.25rem) rotateZ(1deg);
  }

  55% {
    transform: translateY(-5%) translateX(5.25rem) rotateZ(1deg);
  }

  85% {
    transform: translateY(-200%) translateX(6rem) rotateZ(87deg);
  }

  100% {
    transform: translateY(-205%) translateX(-3.25rem) rotateZ(360deg);
  }
}

@keyframes fall6 {
  0% {
    transform: translateY(7.5%) translateX(6.5rem) rotateZ(2.75deg);
  }

  65% {
    transform: translateY(2.5%) translateX(6.5rem) rotateZ(2.75deg);
  }

  85% {
    transform: translateY(-192.5%) translateX(7.25rem) rotateZ(46deg);
  }

  100% {
    transform: translateY(-200%) translateX(3.5rem) rotateZ(180deg);
  }
}

@keyframes fall7 {
  0% {
    transform: translateY(20%) translateX(7.75rem) rotateZ(2deg);
  }

  75% {
    transform: translateY(10%) translateX(7.75rem) rotateZ(2deg);
  }

  85% {
    transform: translateY(-180%) translateX(7.75rem) rotateZ(57deg);
  }

  100% {
    transform: translateY(-190%) translateX(8rem) rotateZ(360deg);
  }
}

@keyframes fall8 {
  0% {
    transform: translateY(30%) translateX(8.75rem) rotateZ(2.5deg);
  }

  85% {
    transform: translateY(10%) translateX(8.75rem) rotateZ(2.5deg);
  }

  90% {
    transform: translateY(-195%) translateX(9.25rem) rotateZ(-52deg);
  }

  100% {
    transform: translateY(-220%) translateX(16rem) rotateZ(-180deg);
  }
}

@keyframes fall9 {
  0% {
    transform: translateY(35%) translateX(9.75rem) rotateZ(5deg);
  }

  65% {
    transform: translateY(25%) translateX(9.75rem) rotateZ(5deg);
  }

  90% {
    transform: translateY(-185%) translateX(10rem) rotateZ(-83deg);
  }

  100% {
    transform: translateY(-180%) translateX(16rem) rotateZ(-90deg);
  }
} */

.front:hover {
  cursor: pointer;
}
