html {
  overflow: hidden;
}

.scene {
  margin: 50vh auto;
  width: 200px;
  height: 260px;
  perspective: 600px;

  /* animation: bounce 0.75s ease-in-out infinite; */
}

.back {
  position: absolute;
  top: 0.5rem;
  width: 90%;
  height: 15vh;
  border-radius: 150px 150px 0 0;
  background:
    repeating-linear-gradient(
      to right,
      #fffcd5 0%,
      #fffcd5 4%,
      #fff454 4%,
      #fff454 5.5%,
      #fffcd5 5.5%
    );
}

.fry {
  z-index: 1;
  position: absolute;
  background-color: #f7c41f;
  width: 0.6rem;
  height: 17.5vh;
  transition: transform 0.5s linear;
}

.fry:nth-child(1) {
  transform: translateY(35%) translateX(0.75rem) rotateZ(-5deg);
}

.fry:nth-child(2) {
  transform: translateY(30%) translateX(1.75rem) rotateZ(-2.5deg);
}

.fry:nth-child(3) {
  transform: translateY(20%) translateX(2.75rem) rotateZ(-1deg);
}

.fry:nth-child(4) {
  transform: translateY(7.5%) translateX(4rem) rotateZ(-3deg);
}

.fry:nth-child(5) {
  transform: translateY(5%) translateX(5.25rem) rotateZ(1deg);
}

.fry:nth-child(6) {
  transform: translateY(7.5%) translateX(6.5rem) rotateZ(2.75deg);
}

.fry:nth-child(7) {
  transform: translateY(20%) translateX(7.75rem) rotateZ(2deg);
}

.fry:nth-child(8) {
  transform: translateY(30%) translateX(8.75rem) rotateZ(2.5deg);
}

.fry:nth-child(9) {
  transform: translateY(35%) translateX(9.75rem) rotateZ(5deg);
}

.front {
  z-index: 2;
  position: absolute;
  left: -0.5rem;
  bottom: 2rem;
}

.shadow {
  position: absolute;
  z-index: -1;
  width: 12.5%;
  height: 10vh;
  border-radius: 50%;
  background: rgb(182 182 182);
  bottom: 0;
  left: 43%;
  transform: translateY(-125%) rotateX(75deg);

  /* animation: grow-shadow 0.75s linear infinite; */
}

.logo {
  position: absolute;
  z-index: 3;
  width: 30%;
  top: 50%;
  left: 32%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-30%);
  }

  55% {
    transform: translateY(-30%);
  }

  95% {
    transform: translateY(0);
  }
}

@keyframes grow-shadow {
  0% {
    transform: translateY(-125%) rotateX(75deg) scale(1);
    background: rgb(182 182 182);
  }

  45% {
    transform: translateY(-125%) rotateX(75deg) scale(0.6);
    background: rgb(210 210 210);
  }

  55% {
    transform: translateY(-125%) rotateX(75deg) scale(0.6);
    background: rgb(210 210 210);
  }

  95% {
    transform: translateY(-125%) rotateX(75deg) scale(1);
    background: rgb(182 182 182);
  }
}
