.scene {
  margin: 30vh auto;
  width: 200px;
  height: 260px;
  perspective: 600px;
}

.back {
  position: absolute;
  top: 0.5rem;
  width: 90%;
  height: 15vh;
  border-radius: 150px 150px 0 0;
  background:
    repeating-linear-gradient(
      to right,
      #fffde3 0%,
      #fffde3 5%,
      #fff89a 5%,
      #fff89a 6.25%,
      #fffde3 6.25%
    );
}

.fry {
  background-color: #f7c41f;
}

.front {
  z-index: 1;
  position: absolute;
  left: -0.5rem;
  bottom: 2rem;
}

.shadow {
  width: 90%;
  height: 10vh;
  border-radius: 50%;
  background: rgb(116 116 116);
  transform: translateY(300%) rotateX(75deg);
}

.logo {
  position: absolute;
  z-index: 2;
  width: 30%;
  top: 50%;
  left: 32%;
}
