:root {
  --yellow: #e3b816;
  --green: #93b77e;
  --purple: #a09cc0;
  --pink: #df94a6;
}

.container {
  display: flex;
}

.col-4 {
  flex-basis: 40%;
  height: 100vh;
}

.col-6 {
  flex-basis: 60%;
}

.pentagon {
  fill: var(--yellow);
  transform: scale(1.5) rotate(-10deg);
  position: relative;
  top: -10rem;
  left: -8rem;
}

.titles {
  padding: 2rem;
}

.shoe-title {
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

.product-title {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding-top: 0.25rem;
}
