:root {
  --yellow: #e3b816;
  --green: #93b77e;
  --purple: #a09cc0;
  --pink: #df94a6;
}

.container {
  display: flex;
}

.col-4 {
  flex-basis: 40%;
  background: grey;
  height: 100vh;
}

.col-6 {
  flex-basis: 60%;
  background: black;
}

.pentagon {
  fill: var(--yellow);
  transform: scale(1.5) rotate(-10deg);
  position: relative;
  top: -10rem;
  left: -8rem;
}
