* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

table {
  width: 100%;
}

.card {
  width: 90%;
  margin: auto;
}

.card-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  background-color: red;
}

.card-header th {
  width: 20%;
}

.card-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex-basis: 20%;
  text-align: center;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}
