.flex {
  display: flex;
  flex-wrap: wrap;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.player-card-holder {
  background-color: #808080;
  text-align: center;
  margin: 1rem 0;
  border-radius: 8px;
}

.player-card-image-holder {
  margin: 0;
}

.player-card-image-holder img {
  object-fit: cover;
  width: 80%;
  height: 50vh;
  max-width: 30rem;
  max-height: 30rem;
  padding: 1.5rem;
  padding-bottom: 0;
}

.player-card-container {
  margin: 0 3rem;
}

.player-card-text-holder {
  background-color: black;
  font-family: Inter, sans-serif;
  border-radius: 10px 10px 0 0;
  padding-bottom: 0.25rem;
}

.player-card-name-style {
  position: relative;
  color: #dee2e6;
  right: 2rem;
}

.player-card-number-style {
  color: #f39323;
  position: relative;
  right: 1.75rem;
  font-size: 2rem;
}

.player-card-nickname-style {
  color: #dee2e6;
  position: relative;
  bottom: 1rem;
}
