* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image:
    linear-gradient(
      45deg,
      #ffd06b 25%,
      transparent 25%
    ),
    linear-gradient(
      -45deg,
      #ffd06b 25%,
      transparent 25%
    ),
    linear-gradient(
      45deg,
      transparent 75%,
      #ffd06b 75%
    ),
    linear-gradient(
      -45deg,
      transparent 75%,
      #ffd06b 75%
    );
  background-size: 200px 200px;
}

button {
  padding: 0.25rem;
  border-radius: 50%;
}

.bread,
.cheese,
.tomato,
.lettuce,
.bacon {
  position: absolute;
}

.bread {
  width: 20rem;
}

.cheese {
  width: 10rem;
}

.tomato {
  width: 12.5rem;
}

.lettuce {
  width: 15rem;
}

.bacon {
  width: 10rem;
}

.header {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}

.plate {
  background:
    radial-gradient(
      rgb(74 255 167),
      rgb(20 227 127) 50%,
      rgb(193 255 228) 50%,
      rgb(193 255 228) 52%,
      rgb(36 255 149) 52%,
      rgb(14 199 109) 58%,
      rgb(193 255 228) 58%,
      rgb(193 255 228) 60%,
      rgb(8 255 136) 60%,
      rgb(16 141 80)
    );
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 20rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.nav-header {
  text-align: center;
  width: 100%;
}

.nav-container {
  width: 100%;
}

.bread-container,
.cheese-container,
.lettuce-container,
.tomato-container,
.bacon-container {
  width: 7.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background:
    radial-gradient(
      rgb(249 145 110),
      rgb(249 145 110) 50%,
      rgb(255 208 81) 50%,
      rgb(255 208 81) 52%,
      rgb(249 145 110) 52%,
      rgb(249 145 110) 58%,
      rgb(255 208 81) 58%,
      rgb(255 208 81) 60%,
      rgb(249 145 110) 60%,
      rgb(249 145 110)
    );
}

.bread-icon,
.cheese-icon,
.lettuce-icon,
.tomato-icon,
.bacon-icon {
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bread-icon {
  background-image: url("images/bread.png");
}

.cheese-icon {
  background-image: url("images/cheese.png");
}

.lettuce-icon {
  background-image: url("images/lettuce.png");
}

.tomato-icon {
  background-image: url("images/tomato.png");
}

.bacon-icon {
  background-image: url("images/bacon.png");
}
