* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  padding: 0.25rem;
  border-radius: 50%;
}

.bread {
  position: absolute;
  width: 20rem;
}

.cheese {
  position: absolute;
  width: 10rem;
}

.tomato {
  position: absolute;
  width: 12.5rem;
}

.lettuce {
  position: absolute;
  width: 15rem;
}

.header {
  width: 100%;
  text-align: center;
}

.nav-header {
  text-align: center;
  width: 100%;
}

.nav-container {
  width: 100%;
}

.bread-container,
.cheese-container,
.lettuce-container,
.tomato-container {
  width: 5rem;
}

.bread-icon {
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/bread.png");
}

.cheese-icon {
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/cheese.png");
}

.lettuce-icon {
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/lettuce.png");
}

.tomato-icon {
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/tomato.png");
}
