* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@keyframes background-top {
  from {
    background-position: center 0%;
  }

  to {
    background-position: center 200%;
  }
}

@keyframes background-bottom {
  from {
    background-position: center 0%;
  }

  to {
    background-position: center -200%;
  }
}

@keyframes background-left {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 200% center;
  }
}

@keyframes background-right {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.hidden {
  display: none !important;
}

.follow-me {
  transition: transform 0.5s linear;
}

.follow-me:hover {
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 80%);
}

.modal-container {
  position: relative;
  margin: 5rem auto;
  width: 80%;
  height: 50%;
  background: white;
  border-radius: 0.25rem;
}

.start-header {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.start-instructions {
  text-align: center;
  font-size: 1.5rem;
}

.start-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1290px) {
  .modal-container {
    width: 40%;
    height: 40%;
  }
}
