* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.follow-me {
  position: absolute;
}

.body1 {
  background: purple;
}

.body2 {
  background: red;
}

.body3 {
  background: pink;
}

.body4 {
  background: gold;
}

.body5 {
  background: blue;
}

.button1 {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.button2 {
  left: 75%;
  top: 80%;
}

.button3 {
  left: 10%;
  top: 90%;
}

.button4 {
  left: 27%;
  top: 82%;
}

.button5 {
  right: 5%;
  top: 10%;
}
