.body {
  background: #558a72;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.font-size-8 {
  font-size: 4rem;
}

.font-yomogi {
  font-family: Yomogi, sans-serif;
}

.track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(0%);
  user-select: none;
}

.image {
  position: relative;
  width: 45vmin;
  height: 60vh;
  border-radius: 150px;
  background-position: center;
  background-size: cover;
}

.image:nth-child(1) {
  background-image: url("../images/cube.gif");
}

.image:nth-child(2) {
  background-image: url("../images/webpack.gif");
}

.image:nth-child(3) {
  background-image: url("../images/pyramid.gif");
}

.image:nth-child(4) {
  background-image: url("../images/airplane.gif");
}

.image:nth-child(5) {
  background-image: url("../images/fries.gif");
}

.image:nth-child(6) {
  background-image: url("../images/compass.gif");
}

.image:nth-child(7) {
  background-image: url("../images/sandwich.gif");
}

.art-title,
.sub-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.art-title {
  bottom: 15%;
  font-weight: 800;
  font-size: 1.25rem;
}

.sub-title {
  bottom: 5%;
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }

  .track:hover {
    cursor: grab;
  }

  .track:active {
    cursor: grabbing;
  }

  .image:hover {
    filter: brightness(105%);
  }
}

@media only screen and (min-width: 768px) {
  .image {
    width: 30vmin;
  }
}

@media only screen and (min-width: 1280px) {
  .font-size-8 {
    font-size: 8rem;
  }

  .track {
    bottom: 10%;
  }

  .image {
    filter: brightness(80%);
    transition: filter 0.5s ease-out;
  }
}
