header {
  z-index: 5;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%);
}

h2,
p {
  margin: 0;
}

h2 {
  font-size: 3rem;
}

.body {
  overflow: hidden;
  background: #558a72;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.img-lg {
  display: none;
}

.header-text {
  font-size: 4rem;
  flex-basis: 100%;
  margin: 0;
  border-bottom: 4px solid white;
}

.text-white {
  color: white;
}

.font-yomogi {
  font-family: Yomogi, sans-serif;
}

.header-name {
  font-family: Yomogi, sans-serif;
  font-size: 1rem;
  margin: 0;
}

.img-slider {
  position: relative;
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.info {
  position: absolute;
  top: 25%;
  left: 5%;
}

.navigation {
  position: absolute;
  display: flex;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  background: rgb(119 119 119 / 50%);
  width: 24px;
  height: 24px;
  margin: 10px;
  border-radius: 50%;
}

.btn.active {
  background: #7ce6b6;
  box-shadow: 0 0 2px rgb(0 0 0 / 50%);
}

@media only screen and (min-width: 678px) {
  .navigation {
    bottom: 15px;
  }

  .info {
    top: 15%;
    left: 10%;
  }

  .img-sm {
    display: none;
  }

  .img-lg {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
  .header-text {
    font-size: 8rem;
  }

  .header-name {
    font-size: 1.5rem;
  }

  .navigation {
    bottom: 30px;
  }

  .info {
    top: 25%;
    left: 10%;
  }

  .btn {
    background: rgb(102 102 102 / 50%);
    width: 16px;
    height: 16px;
  }
}

@media (hover: hover) {
  a:hover,
  .btn:hover {
    cursor: pointer;
  }
}
